{% extends "base_auth.html" %}
{% block title %}Consecutivo Inspección | ClickControl{% endblock %}
{% block contenido %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Macros - Consecutivo Inspección</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Consecutivo para el numero de inspección
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                          {% if messages %}
                              {% for message in messages %}
                                  <div class="alert alert-{{message.tags}} alert-dismissable">
                                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}
                                  </div>
                              {% endfor %}
                          {% endif %}
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tr>
                                        
                                    {% if consecutivo_inspeccion %}
                                    
                                      <td><strong>Consecutivo inspección</strong></td>
                                      <td>{{consecutivo_inspeccion}}</td>
                                    
                                    {% else %}
                                      <form method="post">{% csrf_token %}
                                        <td>{{form.consecutivo_inspeccion}}</td>
                                        <td>
                                          <button type="submit" class="btn btn-success">Guardar</button>
                                        </td>
                                      </form>

                                      <span class="help-block">{{form.errors.consecutivo_inspeccion}}</span>
                                    {% endif %}
                                        
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
