{% extends "base_auth.html" %}
{% block title %}Macros - Inspección Interior | ClickControl{% endblock %}
{% block contenido %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Macros - Interior</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-eye fa-fw"></i> Aspectos revisión visual - Interior
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                  {% if messages %}
                                      {% for message in messages %}
                                          <div class="alert alert-{{message.tags}} alert-dismissable">
                                              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>{{message}}
                                          </div>
                                      {% endfor %}
                                  {% endif %}
                                    <div class="table-responsive">
                                      <table class="table table-bordered table-striped">
                                              <tr>
                                                  <form method="post" enctype='multipart/form-data'>{% csrf_token %}
                                                    <td>{{ form.valor }}</td>
                                                    <td><button type="submit" class="btn btn-success">GUARDAR</button></td>
                                                  </form>
                                              </tr>
                                              {% for valor in valores_macro %}
                                                <tr>
                                                  <td>{{ valor.nombre }}</td>
                                                  <td><a href="/macros/borrar_macro/{{valor.id}}" class="btn btn-success borrar_macro">BORRAR</a></td>
                                                </tr>
                                              {% endfor %}
                                          </table>
                                      <!--<a class="btn btn-success"><i class="fa fa-plus"></i> AGREGAR OTRO</a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}
